<style>
    .f-info-social i {
        color: black;
    }
    
    .f-info-social i:hover {
        color: #fe424d;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="mailto:manthan.nimon28@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.instagram.com/manthannimonkar?igsh=ZWhtYjI2bW82MWVm" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/manthan-nimonkar-082987297/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; StaySphere Private Limited</div>
        <div class="f-info-links">
            <p>Privacy</p> &nbsp;&nbsp;
            <p class="ms-2">Terms and Conditions</p>
        </div>
    </div>
</footer>