<% layout('layouts/boilerplate.ejs') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Create New Listing</h3>
                <form action="http://localhost:8080/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
                        <div class="valid-feedback">
                            Good😀!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please Enter Description.
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="listing[category]" class="form-control" required>
                            <option value="">Select a category</option>
                            <option value="Trending">Trending</option>
                            <option value="Room">Room</option>
                            <option value="Iconic City">Iconic City</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castles">Castles</option>
                            <option value="Amazing Pool">Amazing Pool</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Camping">Camping</option>
                            <option value="Sea">Sea</option>
                            <option value="Homes">Sea</option>
                        </select>
                        <div class="invalid-feedback">Please select a category.</div>
                    </div>

                    <!-- What this place offer  -->
                    <div class="mb-4">
                        <label class="fw-bold mb-2">What this place offers:</label>
                        <div class="d-flex flex-wrap gap-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Lake view" id="lakeView">
                                <label class="form-check-label" for="lakeView">Lake view</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Mountain view" id="mountainView">
                                <label class="form-check-label" for="mountainView">Mountain view</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Air conditioning" id="airConditioning">
                                <label class="form-check-label" for="airConditioning">Air Conditioning</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Board Games" id="boardGames">
                                <label class="form-check-label" for="boardGames">Board Games</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Hot Water" id="hotWater">
                                <label class="form-check-label" for="hotWater">Hot Water</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="WIfi" id="wifi">
                                <label class="form-check-label" for="wifi">Wi-Fi</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Dedicated workspace" id="workspace">
                                <label class="form-check-label" for="workspace">Dedicated Workspace</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Free parking on premises" id="parking">
                                <label class="form-check-label" for="parking">Free Parking</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="TV" id="tv">
                                <label class="form-check-label" for="tv">TV</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[amenities]" value="Kitchen" id="kitchen">
                                <label class="form-check-label" for="kitchen">Kitchen</label>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" placeholder="Enter image URL" class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                            <div class="invalid-feedback">Enter Price.</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
                            <div class="invalid-feedback">
                                Country should be valid.
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
                            <div class="invalid-feedback">
                                Location should be valid
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark add-btn mb-3">Add</button>
                </form>
                <br>
            </div>
        </div>
    </body>

    <!-- <form action="http://localhost:8080/listings" method="POST" novalidate class="needs-validation">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
        <div class="valid-feedback">
            Good😀!
        </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback">
            Please Enter Description.
        </div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" name="listing[image]" placeholder="Enter image URL" class="form-control">
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
            <div class="invalid-feedback">Enter Price.</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
            <div class="invalid-feedback">
                Country should be valid.
            </div>
        </div>

        <div class="mb-3 col-md-12">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
            <div class="invalid-feedback">
                Location should be valid
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-dark add-btn mb-3">Add</button>
</form> -->